<div class="container-fluid vh">
  <div class="row vh">
    <div class="col-md-9 border">
      <div class="text-center">
        <img class="login-logo" src="/assets/PK.png" alt="PK logo">
      </div>
    </div>
    <div class="col-md-3 form-layout">
      <div class="">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12">
              <label for="userName">User Name:</label>
            </div>
            <div class="col-md-12">
              <input class="txt-input" type="text" formControlName="userName" id="fname" name="userName" placeholder="User Name" /><br><br>
              <div *ngIf="submitted && f.userName.errors" >
                <div *ngIf="f.userName.errors.required">User Name is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="password">Password:</label>
            </div>
            <div class="col-md-12">
              <input class="txt-input" type="password" formControlName="password" id="lname" name="password" placeholder="Password"/><br><br>
              <div *ngIf="submitted && f.password.errors" >
                <div *ngIf="f.password.errors.required">password is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <button class="btn btn-primary btn-login">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>