footer {
    font-family: sans-serif,monospace;
    font-size: 15px;
    color: #fff;
    background-color: #333333;
    text-align: center;
    height: 60px;
    padding: 20px 0px;
  }  
  .pk {
      float: left;
  }