<div>
    <div>
      <img src="assets/Untitled-4.jpg" alt="PK /">
      <div class="top-left">PK CELL Phones</div>
    <div>
      <input type="text" placeholder="Search" class="search">    
    </div>
    </div>
  <div>
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#google">Google</a></li>
    <li class="arrow"><img class="pointer" src="assets/Arrow.png" alt="image"></li>
  </ul>
  </div>
  <div class="back">
    <div class="lenovo">{{mobile?.make}} {{mobile?.model}}</div>
    <div class="image">
      <div class="row">
        <div class="col-sm-7">          
          <img src="{{mobile?.image1}}" height="640px" width="480px">
        </div>
        <div class="col-sm-5">
          <div class="row">
            <div class="col-sm-4"><label>Network</label></div>
            <div class="col-sm-1"><label>:</label></div>
            <div class="col-sm-6"><label>{{mobile?.network}}</label></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><label>Dual Sim</label></div>
            <div class="col-sm-1"><label>:</label></div>
            <div class="col-sm-6"><label>{{mobile?.dualsim}}</label></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><label>Weight</label></div>
            <div class="col-sm-1"><label>:</label></div>
            <div class="col-sm-6"><label>{{mobile?.weight}}</label></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><label>Display</label></div>
            <div class="col-sm-1"><label>:</label></div>
            <div class="col-sm-6"><label>{{mobile?.display}}</label></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><label>RAM</label></div>
            <div class="col-sm-1"><label>:</label></div>
            <div class="col-sm-6"><label>{{mobile?.ram}}</label></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><label>Internal Memory</label></div>
            <div class="col-sm-1"><label>:</label></div>
            <div class="col-sm-6"><label>{{mobile?.rom}}</label></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><label>External slot</label></div>
            <div class="col-sm-1"><label>:</label></div>
            <div class="col-sm-6"><label>{{mobile?.externalslot}}</label></div>
          </div>
          <div class="row">
            <div class="col-sm-4"><label>Battery</label></div>
            <div class="col-sm-1"><label>:</label></div>
            <div class="col-sm-6"><label>{{mobile?.battery}}</label></div>
          </div>
          <div class="row">            
            <div class="col-sm-6"><img src="{{mobile?.image2}}" height="160px" width="142px"></div>
            <div class="col-sm-6"><img src="{{mobile?.image3}}" height="160px" width="142px"></div> 
          </div>        
        </div>       
      </div>
    </div>
    <div class="Review">Review</div>
    <div class="mr">Mr.A :</div>
    <div class="quality">{{mobile?.Review.A}}</div>
    <div class="mr">Mr.B :</div>  
    <div class="quality">{{mobile?.Review.B}}</div>
  <footer>Copywrite @ Pooja</footer>
  </div>
</div>