<div>
  <div>  
    <img src="assets/Untitled-4.jpg" alt="PK /">
    <div class="top-left">PK CELL Phones</div>
    <div>
      <!--<input type="text" placeholder="Search" class="search">-->
      <input type="text" [(ngModel)]="srchText" placeholder="Search by Name" class="search">
      <div *ngIf="srchText.length > 0">
        <div *ngFor="let phone of mobile | abcd:srchText" (click)="getItem(phone)">
          {{phone.name}}
       </div>  
    </div>
  </div>
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#google">Google</a></li>
  </ul>
  <div class="background">
    <div class="block">
      Cell Phones Cell Phones  Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones
      Cell Phones Cell Phones  Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones
      Cell Phones Cell Phones  Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones
      Cell Phones Cell Phones  Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones
      Cell Phones Cell Phones  Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones
      Cell Phones Cell Phones  Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones Cell Phones
      Cell phones Cell Phones  Cell Phones Cell.
    </div>
  </div>
  <div class="title">TOP 10 Andriods</div>
  <table class="details">
    <tr>
      <th colspan="2">
       <div class="text-right">
          <label>Search: </label> &nbsp;
          <input type="text" [(ngModel)]="searchText" placeholder="Search" />
        </div>
      </th>
    </tr>
    <tr>
      <th>Mobile ID</th>
      <th>Mobile Name</th>
    </tr>
    <tr *ngFor="let phone of mobile | filter:searchText" (click)="getItem(phone)">
      <td>{{phone.id}}</td>
      <td>{{phone.name}}</td>
    </tr>
  </table>
  <div>
    <footer>Copywrite @ Pooja</footer>
  </div>
</div>